<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vapor.alarmproject">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.VIBRATE" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDRZgFUy7Hvu8tJGMKgGku85U8s56OW_dA"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alarm.AddAlarm" />
        <activity android:name=".AlarmClockFragment$EditAlarm" />
        <activity android:name=".WorldClock.AddWorldClock"></activity>
        <activity android:name=".WorldClock.DeleteWorldClock"></activity>
        <receiver android:name=".Alarm.AlertReceiver"/>
        <receiver android:name=".TimeToSleep.TimeToSleepReceiver"></receiver>
        <receiver android:name=".TimeToSleep.AlarmReceiver"></receiver>



    </application>



</manifest>